@font-face {
    font-family: Acme;
    src: url(Assets/fonts/Acme-Regular.ttf);
}

@font-face {
    font-family: Hero;
    src: url(Assets/fonts/HeroesLegend.ttf);
}

h2,
h3,
p,
a,
label,
input {
    font-family: Acme;
    color: white;
}

h1 {
    font-family: Hero;
    font-size: 96px;
}

h3 {
    font-size: 45px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.text-box-title {
  margin-top: 0px;
}

p,
label,
input {
    font-size: 30px;
    font-weight: 500;
}

.pokemon-bg {
  background: url(Assets/images/forest_art.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.title {
    text-align: center;
    color: rgb(255, 234, 0);
    -webkit-text-stroke: 8px blue;
    letter-spacing: -12px;
    margin-bottom: 0px;
}

.subtitle {
    color: #ffffff;
    text-align: center;
}

#copyright {
    color: black;
    font-size: 18px;
    text-align: center;
}

.container {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 50px;
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
  }
  
  .container .text-field input {
    width: 90%;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    outline: none;
    background: transparent;
    padding: 10px;
  }
  
  .container form a,
  .container form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .container form button {
    color: #03f40f;
  }

  .container form .reset a {
    color: crimson;
  }

  .container form button:hover {
    background: #03f40f;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }

  .container .reset a:hover {
    background: crimson;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px crimson,
                0 0 25px crimson,
                0 0 50px crimson,
                0 0 100px crimson;
  }
  
  .container form .form-buttons {
    display: flex;
    justify-content: space-between;
  }

  input[type="radio"], 
  input[type="checkbox"] {
    cursor: pointer;
    height: 20px;
    width: 20px;
  }

  .form-group {
    align-items: left;
    padding-left: 30px;
  }

  #form-error {
    display: none;
  }

  #form-error p {
    text-align: center;
    color: crimson;
    margin: 0px;
    letter-spacing: 2px;
  }

  .select-box {
    display: flex;
    align-items: baseline;
  }

  select,
  option {
    font-family: Acme;
    color: black;
    font-size: 30px;
  }

  select {
    margin-left: 40px;
    height: 40px;
    width: 150px;
    border-radius: 4px;
  }

  hr {
    border: none;
  }

  input[type="reset"] {
    background: none;
    border: none;
    letter-spacing: 4px;
    color: inherit;
  }

  .container form button {
    background: none;
    border: none;
    font-family: Acme;
    font-size: 28px;
  }

  #pokemon-container {
    max-width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    display: none;
  }

  #pokemon-img {
    
  }

  #pokemon-name {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 65px;
    letter-spacing: 1px;
  }

  #species {
    text-align: center;
    color: gray;
    font-size: 30px;
    margin-top: 0px;
  }

  .stats-box p span {
    padding-left: 15px;
  }